<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anup Shahi | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <Style>
        nav a {
            background-color: rgba(255, 255, 255, 0.242);
            text-decoration: none;
            margin-right: 10px;
            color: #00796b;
            font-weight: bold;
            transition: color 0.3s ease;

        }
        nav a:hover {
            text-decoration: underline;
            color: #004d40;
            font-weight: bold;
        }
    </Style>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/projects">Projects</a> |
        <a href="/memories">Memories</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
